<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="us.xingkong.starwishingbottle">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:largeHeap="true"
        android:name=".WishingBottleApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/circle_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".module.main.MainActivity"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".module.login.LoginActivity"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".module.register.RegisterActivity"
            android:theme="@style/AppTheme.Register" />
        <activity
            android:name=".module.first.FirstActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.First">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--   URLscheme
                    示例:"starwish://wish/abcefg"
                    打开objectID为adbdefg的愿望  -->
            <intent-filter>
                <!-- 协议部分 -->
                <data android:scheme="starwish" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>
        <activity
            android:name=".module.editmsg.EditMsgActivity"
            android:theme="@style/AppTheme.Full" />
        <activity
            android:name=".module.setting.SettingActivity"
            android:theme="@style/MainActivityTheme" />
        <activity android:name=".module.info.InfoActivity"
            android:theme="@style/AppTheme.Full"/>
        <activity
            android:name=".module.wish.WishingActivity"
            android:label="@string/title_activity_wishing"
            android:theme="@style/MainActivityTheme" />
        <activity android:name=".module.about.AboutActivity"
            android:theme="@style/AppTheme.About"/>
        <activity
            android:name="com.hentaiuncle.qrcodemaker.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
    </application>

</manifest>